
<% _.each(option_item, function(option_data, index){ %>
<% _.each(option_data.Offers.OfferProducts, function(OfferProduct, index){ %>
<div id = "" class="ProductDiv">
<h3><%=OfferProduct.ProductName%>
<span class="red"> <%=OfferProduct.ProductPrice%> Rs</span>
<span class="product-id samll-font fl_right purple">ProductID:
<span><%=OfferProduct.ProductId%></span></span></h3>
<ul class="price-div">
<li class="fl_left one_third nogutter">
<label class="blk">
Offer Price 
</label>
<input required class="offer-price small-box" value='<%=OfferProduct.OfferPrice %>'></input>
</li>
<li class="fl_left one_third nogutter">
<label class="blk">
Qty
</label>
<input required class="offer-qty small-box" value='<%=OfferProduct.Quantity  %>' ></input>
</li>
<li class="fl_left one_third nogutter">
<label class="blk">
Actual Proce
</label>
<span class="calc-price small-text"><%=OfferProduct.OfferPrice * OfferProduct.Quantity%></span>
</li>
</ul>

</div>
  <% }) ;%>
  <% }) ;%>







